main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    padding: 5%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-row-gap: 5%
}

main .icons{
    justify-self: center;
    align-self: center;
    cursor: pointer;
    color: white;
    background: rgb(30 64 175);
    padding: 25%;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 500ms;
}

main .icons:hover{
    background: rgb(37 99 235);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}